<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">
<head>
<meta charset="UTF-8" />
<title>SportsTradingBook: Editar Operação</title>
<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css" />
<script type="text/javascript" src="/webjars/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
<script src="../jquery.mask.min.js"></script>
</head>
<body>
	<div th:replace="fragments/fragments :: header"></div>
	<div class="container">
		<h2 class="text-center">Editar Operação</h2>
		<form class="form-horizontal" action="/operations/edit" method="post" th:object="${operation}">
			<input type="hidden" th:field="*{id}"/>
			<input type="hidden" th:field="*{previousValue}"/>
			<input type="hidden" th:field="*{bankValue}"/>
			<input type="hidden" th:field="*{user.id}"/>
			<div class="row">
				<div class="form-group col-md-3">
					<label for="op-date">Data:</label>
					<input type="text" class="form-control" id="op-date" th:field="*{date}" />
				</div>
				<div class="form-group col-md-3">
					<label for="slt-bank">Banca:</label>
					<select id="slt-bank" class="form-control" th:field="*{bank.id}">
						<option th:each="bank: ${banks}" th:value="${bank.id}" th:text="${bank.name}"/>
					</select>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-md-3">
					<label for="slt-aspect">Aspecto da operação:</label>
					<select id="slt-aspect" class="form-control" th:field="*{aspect.id}">
						<option th:each="aspect: ${aspects}" th:value="${aspect.id}" th:text="${aspect.name}"/>
					</select>
				</div>
				<div class="form-group col-md-3">
					<label for="slt-sport">Esporte:</label>
					<select id="slt-sport" class="form-control" th:field="*{sport.id}">
						<option th:each="sport: ${sports}" th:value="${sport.id}" th:text="${sport.name}"/>
					</select>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-md-3">
					<label for="slt-market">Mercado:</label>
					<select id="slt-market" class="form-control" th:field="*{market.id}">
						<option th:each="market: ${markets}" th:value="${market.id}" th:text="${market.name}"/>
					</select>
				</div>
				<div class="form-group col-md-3">
					<label for="slt-strategy">Estratégia:</label>
					<select id="slt-strategy" class="form-control" th:field="*{strategy.id}">
						<option th:each="strategy: ${strategies}" th:value="${strategy.id}" th:text="${strategy.name}"/>
					</select>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-md-3">
					<label for="slt-cocountry">País:</label>
					<select id="slt-country" class="form-control" th:field="*{country.id}">
						<option th:each="country: ${countries}" th:value="${country.id}" th:text="${country.name}"/>
					</select>
				</div>
				<div class="form-group col-md-3">
					<label for="slt-competition">Competição:</label>
					<select id="slt-competition" class="form-control" th:field="*{competition.id}">
						<option th:each="competition: ${competitions}" th:value="${competition.id}" th:text="${competition.name}"/>
					</select>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-md-3">
					<input type="text" class="form-control" id="teamOne" th:field="*{teamOne}" placeholder="Time Casa" />
				</div>
				<div class="form-group col-md-3">
					<input type="text" class="form-control" id="teamTwo" th:field="*{teamTwo}" placeholder="Time Visitante" />
				</div>
			</div>
			<div class="row">
				<div class="form-group col-md-3">
					<label for="op-value">Valor investido:</label>
					<input type="text" class="form-control" id="op-value" th:field="*{investedValue}" />
				</div>
				<div class="form-group col-md-3">
					<label for="op-return">Retorno:</label>
					<input type="text" class="form-control" id="op-return" th:field="*{returnedValue}" />
				</div>
			</div>
			<div class="row">
				<div class="form-group col-md-6">
					<input type="submit" value="Salvar" class="btn btn-primary"/>
				</div>
			</div>
		</form>
	</div>
	
	<div th:replace="fragments/fragments :: footer"></div>
	
	<!-- mask para o campo de valores -->
	<script type="text/javascript">
		$(document).ready(function(){
			$('#op-value').mask('000,000,000.00', {reverse: true});
		});
	</script>
</body>
</html>