<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>SportsTradingBook: Configurações</title>
<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css" />
<script type="text/javascript" src="/webjars/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
	<div th:replace="fragments/fragments :: header"></div>
	<div class="container">
		<div class="shadow-sm p-3 mb-5 bg-white rounded-lg">
		<h2 class="text-center">Configurações</h2>
			<!-- Listagem de campeonatos por países -->
			<div class="shadow-sm p-3 mb-5 bg-white rounded-lg col-lg-5 d-inline-block">
				<h4>Países por continente</h4>
				<br/>
				<a th:href="@{/continent/add}" class="btn btn-secondary">Adicionar Continente</a>
				<a th:href="@{/country/add}" class="btn btn-secondary">Adicionar País</a>
				<br/>
				<br/>
				<table class="table table-sm table-hover" th:each="continent: ${continents}">
					<thead>
						<tr>
							<th th:text="${continent.name}"></th>
							<th class="text-right">
								<a th:href="@{/continent/edit/{id}(id=${continent.id})}">Editar</a> | 
								<a th:href="@{/continent/delete/{id}(id=${continent.id})}">Excluir</a>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="country: ${continent.countries}">
							<td th:text="${country.getName()}"></td>
							<td class="text-right">
								<a th:href="@{/country/edit/{id}(id=${country.getId()})}">Editar</a> | 
								<a th:href="@{/country/delete/{id}(id=${country.getId()})}">Excluir</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			
			<!-- Listagem de estratégias por mercado -->
<!-- 			<div class="shadow-sm p-3 mb-5 bg-white rounded-lg col-5 d-inline-block"> -->
<!-- 				<h4>Estratégias</h4> -->
<!-- 				<br/> -->
<!-- 				<a th:href="@{/market/add}" class="btn btn-secondary">Adicionar Mercado</a> -->
<!-- 				<a th:href="@{/strategy/add}" class="btn btn-secondary">Adicionar Estratégia</a> -->
<!-- 				<br/> -->
<!-- 				<br/> -->
<!-- 				<table class="table table-sm table-hover" th:each="mercado: ${mercados}"> -->
<!-- 					<thead> -->
<!-- 						<tr> -->
<!-- 							<th th:text="${mercado.mercado}"></th> -->
<!-- 							<th class="text-right"> -->
<!-- 								<a th:href="@{/market/edit/{id}(id=${mercado.id})}">Editar</a> |  -->
<!-- 								<a th:href="@{/market/delete/{id}(id=${mercado.id})}">Excluir</a> -->
<!-- 							</th> -->
<!-- 						</tr> -->
<!-- 					</thead> -->
<!-- 					<tbody> -->
<!-- 						<tr th:each="estrategia: ${mercado.estrategias}"> -->
<!-- 							<td th:text="${estrategia.getNome()}"></td> -->
<!-- 							<td class="text-right"> -->
<!-- 								<a th:href="@{/strategy/edit/{id}(id=${estrategia.getId()})}">Editar</a> |  -->
<!-- 								<a th:href="@{/strategy/delete/{id}(id=${estrategia.getId()})}">Excluir</a> -->
<!-- 							</td> -->
<!-- 						</tr> -->
<!-- 					</tbody> -->
<!-- 				</table> -->
<!-- 			</div> -->
			
		</div>
	</div>
</body>
</html>