<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>SportsTradingBook: Editar Banca</title>
<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css" />
<script type="text/javascript" src="/webjars/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
	<div th:replace="fragments/fragments :: header"></div>
	<div class="container">
		<h2 class="text-center">Editar Banca</h2>
		<form class="form-horizontal" th:action="@{/bank/edit}" method="post" th:object="${bank}">
			<div class="row">
				<input type="hidden" th:field="*{id}"/>
				<div class="form-group col-md-5">
					<label for="bank-name">Nome da Banca:</label> 
					<input type="text" class="form-control" id="bank-name" th:field="*{name}"/>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-md-2">
					<select class="form-control" th:field="*{currency}">
						<option th:value="'US$'">Dólar Americano - US$</option>
						<option th:value="'€'">Euro - €</option>
						<option th:value="'£'">Libra - £</option>
						<option th:value="'R$'">Real - R$</option>
					</select>
				</div>
				<p class="text-danger" th:if="${#fields.hasErrors('currency')}" th:errors="*{currency}"></p>
				<div class="form-group col-md-3">
					<label for="bank-balance">Saldo:</label> 
					<input type="text" class="form-control" id="bank-balance" th:field="*{balance}" readonly/>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-md-5">
					<input type="submit" value="Salvar" class="btn btn-primary"/>
				</div>
			</div>
		</form>
	</div>
</body>
</html>