<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Efetuar Saque</title>
<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css" />
<script type="text/javascript" src="/webjars/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
<script src="../../jquery.mask.min.js"></script>
</head>
<body>
	<div th:replace="fragments/fragments :: header"></div>
	<div class="container">
		<h2 class="text-center">Saque</h2>
		<form class="form-horizontal" action="/bank/withdraw" method="post" th:object="${bank}">
			<div class="row">
				<div class="form-group col-md-5">
					<input type="text" class="form-control" th:field="*{nomeBanca}" readonly/>
					<input type="hidden" th:field="*{id}"/>
					<input type="hidden" th:field="*{currency}"/>
					<input type="hidden" th:field="*{balance}"/>
				</div>
			</div>
			<div th:object="${withdraw}">
				<div class="row">
					<div class="form-group col-md-5">
						<label for="data">Data do saque:</label> 
						<input type="text" class="form-control" id="data" th:field="*{date}"/>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-md-5">
						<label for="withdraw">Valor do saque:</label> 
						<input type="text" class="form-control" id="withdraw" th:field="*{value}"/>
						<p class="text-danger" th:if="${#fields.hasErrors('value')}" th:errors="*{value}"></p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-md-5">
					<input type="submit" value="Salvar" class="btn btn-primary"/>
				</div>
			</div>
		</form>
	</div>
	
	<script type="text/javascript">
		$(document).ready(function(){
			$('#withdraw').mask('000,000,000.00', {reverse: true});
		});
		$(document).ready(function(){
			$('#data').mask('00/00/0000');
		});
	</script>
	
</body>
</html>