<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">
<head>
<meta charset="UTF-8" />
<title>SportsTradingBook: Cadastrar Mercado</title>
<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css" />
<script type="text/javascript" src="/webjars/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
	<div th:replace="fragments/fragments :: header"></div>
	<div class="container">
		<h2 class="text-center">Cadastrar Mercado</h2>
		<form class="form-horizontal" action="/market/add" method="post" th:object="${mercado}">
			<div class="row">
				<div class="form-group col-md-5">
					<label for="market-name">Nome do Mercado:</label>
					<input type="text" class="form-control" id="market-name" th:field="*{mercado}" />
				</div>
			</div>
			<div class="row">
				<div class="form-group col-md-5">
					<input type="submit" value="Salvar" class="btn btn-primary"/>
				</div>
			</div>
		</form>
	</div>
</body>
</html>